{% extends "InterneHomeBundle::layout.html.twig" %}

{% form_theme membreForm 'InterneFichierBundle:Form:form_template.html.twig' %}
{% form_theme familleForm 'InterneFichierBundle:Form:form_template.html.twig' %}

{% block title %}Ajouter un scout{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-11">
            <h3>Ajouter un scout</h3>
        </div>
    </div>

    <div class="row">

    <div class="col-lg-6">
        <form class="form-horizontal" role="form" method="post" {{ form_enctype(membreForm) }}>
            <div class="widget">

                <div class="widget-title">
                    <span>Informations sur le membre</span>
                </div>

                <div class="widget-content">
                    {{ form_widget(membreForm) }}
                </div>
            </div>
        </form>
        <input type="submit" class="btn btn-primary"/>
    </div>

    <div class="col-lg-5">
        <form class="form-horizontal" role="form" method="post" {{ form_enctype(familleForm) }}>
            <div class="widget">

                <div class="widget-title">
                    <span>Informations sur sa famille</span>
                </div>

                <div class="widget-content">
                    {{ form_widget(familleForm) }}
                </div>
            </div>
        </form>
        <input type="submit" class="btn btn-primary"/>
    </div>


{% endblock %}

{% block javascript %}

    <script type="text/javascript">

        $('#famille_inexistante').change(function () {

            /**
             * On gère également l'activation des champs requis en fonction
             * de l'option togglée
             */

            if ($('#famille_inexistante').is(':checked')) {

                //Pas de famille trouvée
                //On rend le champ famille non requis, le formulaire de famille est requis
                $('#interne_fichierbundle_membretype_famille').removeAttr("required");
                $('#interne_fichierbundle_familletype_nom').attr("required", "required");

            }

            else {
                $('#interne_fichierbundle_membretype_famille').attr("required", "required");
                $('#interne_fichierbundle_familletype_nom').removeAttr("required");

            }

            $('#interne_fichierbundle_membretype_famille').prop('disabled', $('#famille_inexistante').is(':checked'));
            $('#famille-included').fadeToggle(150);
            $('#interne_fichierbundle_membretype_famille_chosen').fadeToggle(150);

        });
    </script>

{% endblock %}