
	<div class="form-errors">
		{{ form_errors(typeForm) }}
	</div>
	
	<fieldset>
		<div class="row">
			<div class="col-sm-3">{{ form_label(typeForm.nom, "Type") }}</div>
			<div class="col-sm-9">{{ form_widget(typeForm.nom) }}</div>
		</div>
		
		<div class="row">
			<div class="col-sm-9 col-sm-offset-3">
				<input type="submit" class="btn btn-primary" value="Ajouter le type" />
			</div>
		</div>
		
		{{ form_rest(typeForm) }}
	</fieldset>