body
{
    background-image:url(http://www.wallsave.com/wallpapers/2560x1440/2560x2048/428891/x-miscellaneous-any-with-nice-blurry-edges-motion-blur-428891.jpg);
    background-size:cover;
}

#erreur
{
	position:fixed;
	width:100%;
	height:30px;
	background:red;
	top:0;
	box-shadow:0 0 5px rgba(0,0,0,0.5);
}

#erreur p
{
	text-align:center;
	font:13px calibri;
	margin:0;
	padding:0;
	line-height:30px;
}

#login
{
    width:200px;
    height:206px;
    background: #f9f9f9;
    background: -moz-linear-gradient(top, #f9f9f9 0%, #cecece 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#cecece));
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#cecece 100%);
    background: -o-linear-gradient(top, #f9f9f9 0%,#cecece 100%);
    background: -ms-linear-gradient(top, #f9f9f9 0%,#cecece 100%);
    background: linear-gradient(to bottom, #f9f9f9 0%,#cecece 100%);
    margin:15% auto 0 auto;
    padding:20px;
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
}

#login-image-overlay
{
    position:absolute;
    margin-left:57.5px;
    z-index:1000;
    width:85px;
    height:85px;
    border-radius:100%;
    box-shadow:inset 0 0 10px black;
}

#login-image
{
    margin-left:57.5px;
    width:85px;
    height:85px;
    border-radius:100%;
    margin-bottom:20px;
}

.input
{
    width:100%;
    border-radius:3px;
    border:1px solid rgb(200,200,200);
    padding:6px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    font:13px calibri;
    margin-bottom:5px;
    box-shadow:inset 0 2px 10px rgba(0,0,0,0.1);
    transition:box-shadow .2s;
    text-align:center;
}

.input:focus
{
    outline:none;
    box-shadow:inset 0 2px 10px rgba(0,0,0,0.1),
               0 0 3px rgba(100,100,255,0.8);
    border:1px solid rgba(100,100,255,0.8);
}

.submit
{
    font:13px calibri;
    color:white;
    padding:6px 8px;
    background: #7db9e8;
    background: -moz-linear-gradient(top, #7db9e8 0%, #1e5799 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(100%,#1e5799));
    background: -webkit-linear-gradient(top, #7db9e8 0%,#1e5799 100%);
    background: -o-linear-gradient(top, #7db9e8 0%,#1e5799 100%);
    background: -ms-linear-gradient(top, #7db9e8 0%,#1e5799 100%);
    background: linear-gradient(to bottom, rgb(87, 150, 199) 0%,#1e5799 100%);
    border:1px solid rgb(87, 150, 199);
    border-radius:3px;
    transition:opacity .2s;
    float:left;
}

.saved
{
    box-shadow:none;
    background:none;
    border:1px solid transparent;
    text-align:center;
}

.submit:hover
{
    opacity:0.9;
}

.submit:active, .submit:focus
{
    outline:none;
}

.remember
{
    width:115px;
    float:right;
}

.connectDiv
{
    width:140px;
    float:right;
}

.checkbox
{
    position:relative;
    top:7px;
}

.remember label, .connectDiv label
{
    font:12px calibri;
    position:relative;
    top:4px;
}

#bar
{
    position:absolute;
    margin-left:calc(50% - 115px);
    margin-top:8px;
    width:230px;
    display:flex;
    justify-content:space-between;
}


.options-btn
{
    font:13px calibri;
    color:white;
    opacity:0.8;
    text-decoration:none;
    transition:opacity .1s;
}

.options-btn:hover
{
    opacity:1;
}