InterneGlobal_modifikator:
    pattern:  /modifikator/{entity}/{id}
    defaults: { _controller: InterneGlobalBundle:Global:modifikator }
    options:
        expose: true

#validator
InterneGlobal_validator_dashboard:
    pattern:  /validator
    defaults: { _controller: InterneGlobalBundle:Validator:dashboard }

InterneGlobal_validator_get_extended_data:
    pattern:  /validator/getExtendedData/{id}/{modif}
    defaults: { _controller: InterneGlobalBundle:Validator:getExtendedData, modif : false }
    options:
        expose: true
    requirements:
            id:  \d+
            _method: GET

InterneGlobal_validator_remove:
    pattern:  /validator/remove/{ids}
    defaults: { _controller: InterneGlobalBundle:Validator:remove }
    options:
        expose: true
    requirements:
            _method: POST

InterneGlobal_validator_persist:
    pattern:  /validator/persist/{ids}
    defaults: { _controller: InterneGlobalBundle:Validator:persistValidation }
    options:
        expose: true
    requirements:
            _method: POST
        
#adder
InterneGlobal_adder_get_basic_data_attributions:
    pattern: /adder/basicData/attributions
    defaults: { _controller: InterneGlobalBundle:Adder:getBasicDataAttributions }
    options:
        expose: true
        
InterneGlobal_adder_get_basic_data_distinctions:
    pattern: /adder/basicData/distinctions
    defaults: { _controller: InterneGlobalBundle:Adder:getBasicDataDistinctions }
    options:
        expose: true
        
InterneGlobal_adder_add_attributions:
    pattern: /adder/add/attributions
    defaults: { _controller: InterneGlobalBundle:Adder:addAttributions }
    options:
        expose: true
        
InterneGlobal_adder_add_distinctions:
    pattern: /adder/add/distinctions
    defaults: { _controller: InterneGlobalBundle:Adder:addDistinctions }
    options:
        expose: true
        
InterneGlobal_adder_end_attributions:
    pattern: /adder/end/attributions
    defaults: { _controller: InterneGlobalBundle:Adder:endAttributions }
    options:
        expose: true
        
InterneGlobal_adder_test:
    pattern: /adder/test/{ids}/{distinctions}/{obtention}
    defaults: { _controller: InterneGlobalBundle:Adder:test, obtention: null }
    options:
        expose: true

InterneGlobal_debbug:
    pattern: /test
    defaults: { _controller: InterneGlobalBundle:Validator:test}





#parametre
InterneGlobal_parametre:
    path:     /parametre/{groupe}
    defaults: { _controller: InterneGlobalBundle:Parametre:index }

InterneGlobal_parametre_update_ajax:
    path:     /parametre/update_ajax
    defaults: { _controller: InterneGlobalBundle:Parametre:updateAjax }