

<div class="modal fade" id="modal-add-creance" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>

                {% if parametre == 'forListing' %}
                    <h4 class="modal-title" >Ajouter une créance en masse</h4>

                {% elseif parametre == 'forMembre' %}
                    <h4 class="modal-title" >Ajouter une créance au membre</h4>

                {% elseif parametre == 'forFamille' %}
                    <h4 class="modal-title" >Ajouter une créance à la famille</h4>

                {% endif %}


            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        Titre: <input type="text" id="modal_form_creance_titre">
                        Remarque: <input type="text" id="modal_form_creance_remarque">
                        Montant: <input type="number" id="modal_form_creance_montant">
                    </div>
                </form>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>

                {% if parametre == 'forListing' %}

                    <button type="button" onclick="adderAddCreances();" class="btn btn-primary">Valider</button>

                    <!-- Liste des membres à qui on va ajouter une créance-->
                    <input type="hidden" id="adder-membres-ids"/>


                {% elseif parametre == 'forMembre' %}

                    <button type="button" onclick="addCreance();" class="btn btn-primary">Valider</button>


                {% elseif parametre == 'forFamille' %}

                    <button type="button" onclick="" class="btn btn-primary">Valider</button>

                {% endif %}


            </div>
        </div>
    </div>
</div>





